# === Java ===
*.class
*.jar
*.war
*.ear
target/
*.log
*.iml
.idea/

# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
dist/
env/
venv/
.env

# === Node ===
node_modules/
npm-debug.log
yarn-error.log

# === Misc / OS ===
.DS_Store
Thumbs.db
